@import '../../main';

.cards_list {
	padding-top: 14rem;
}

.cards_list__wrap {

	&:not(:last-child) {
		@include bp($laptop, min) {
			margin-bottom: 2rem;
		}

		@include bp($laptop - 1, $tablet) {
			margin-bottom: 3.6rem;
		}

		@include bp($tablet - 1) {
			margin-bottom: 5rem;
		}
	}

	@include bp($laptop, min) {
		display: flex;
		flex-wrap: wrap;

		margin: 0 -2.9rem -2.9rem 0;
	}

	@include bp($laptop - 1, $tablet) {
		display: flex;
		flex-wrap: wrap;

		margin: 0 -1.6rem -1.6rem 0;
	}
}

.cards_list__item {
	@include bp($laptop, min) {
		padding: 0 2.9rem 2.9rem 0;
		width: 33.333%;
	}

	@include bp($laptop - 1, $tablet) {
		padding: 0 1.6rem 1.6rem 0;
		width: 50%;
	}

	&:not(:last-child) {
		@include bp($tablet - 1) {
			margin-bottom: 2rem;
		}
	}
}

.cards_list__btn_wrap {
	text-align: center;
}

