@import '../../main';

.card {
	padding: 2rem;
	height: 100%;
	text-align: center;
	background-color: $white;
	border-radius: 1rem;
}

.card > * {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.62;
	overflow: hidden;
	text-overflow: ellipsis;

}

.card__pic {
	width: 7rem;
	height: 7rem;
	margin: 0 auto;

	overflow: hidden;
	border-radius: 50%;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.card__name {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.card__position {

}

.card__phone {

}

.card__email {
	position: relative;
	overflow: visible;
	cursor: pointer;

	&:after {
		--scale: 0;
		content: attr(data-tooltip);
		z-index: 10;
		position: absolute;
		top: 0;
		left: 50%;

		display: block;
		padding: .3rem 1.6rem;
		line-height: 1.62;
		text-align: left;

		color: $white;
		background: $black87;

		transition: transform 0.3s ease, color 0.3s ease;
		transform-origin: top center;
		transform: translate(-50%, 100%) scale(var(--scale));
		border-radius: $glRadius;
		will-change: scale;
	}

	&:hover:after {
		--scale: 1;
	}
}
