@import '../../main';

.header {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	height: var(--height-header);
	width: 100%;

	padding: 1rem var(--gl-indent);

	&:after {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;

		display: block;
		width: 100%;
		height: 100%;

		background-color: $white;
		content: '';
	}
}

.header__in {
	width: 100%;
	max-width: $pageWidth;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header__buttons > * {
	&:not(:last-child) {
		margin-right: 1rem;
	}
}
