@import '../../main';

.form_input__element {
	position: relative;
}

.form_input {
	padding: 1.4rem 1.6rem;
	border: 1px solid $gray_2;
	border-radius: 0.4rem;
}

.form_input__label {
	position: absolute;
	left: 1.6rem;
	top: 1.4rem;
	color: #7e7e7e;
}

.form_input__messages {

}
